[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/saz/puppet-php.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/sqlite"]
	path = puppet/modules/sqlite
	url = https://github.com/puppetlabs/puppetlabs-sqlite.git
[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "puppet/modules/curl"]
	path = puppet/modules/curl
	url = https://github.com/alphagov/puppet-curl.git
